TRIP_LEDGER_MYSQL_CONTAINER_NAME=trip-ledger-test-mysql
TRIP_LEDGER_MYSQL_PORT=127.0.0.1:3306
TRIP_LEDGER_MYSQL_ROOT_PASSWORD=root123456
TRIP_LEDGER_MYSQL_APP_USERNAME=ledger_admin
TRIP_LEDGER_MYSQL_APP_PASSWORD=root123456
TRIP_LEDGER_MYSQL_TZ=Asia/Shanghai
